@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

/* Reiniciar algunos estilos preterminados */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Estilos para el body */
body {
  background-image: url(../images/bg-image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  color: #3f4e5d;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  text-align: center;
}

.box {
  max-width: 1000px;
  background-color: rgba(248, 250, 252, 0.2);
  border-radius: 20px;
  padding: 30px 40px;
  align-self: center;
  margin: 1rem 0 2rem 0;
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.top-section {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.description {
  font-size: 1.125rem;
  font-weight: 300;
  color: #ffffff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  margin-bottom: 20px;
}

#reason {
  margin-top: 15px;
}

.form-label {
  font-size: 14px;
  color: white;
  text-align: left;
}

#name::placeholder,
#email::placeholder,
#phone::placeholder,
#message::placeholder {
  color: #cdd5e0;
  font-weight: 600;
}

select.form-select {
  font-size: 13px;
  font-weight: 700;
  color: #111729;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  background-color: #f4f7fc;
  color: #3f4e5d;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form select {
  appearance: none;
}

.contact-form button {
  width: 25%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #4036a9;
  color: #ffffff;
  font-size: 1.125rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #302b82;
}

footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

/* Mensaje de confirmación */
.confirmation-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5f9ec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #2e8540;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}